openapi: 3.1.0
info:
  contact:
    email: engineering@conekta.com
    name: Engineering Conekta
    url: https://github.com/conekta/openapi/issues
  description: Conekta sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Conekta Antifraud Balances API
  version: 2.2.0
servers:
- description: Conekta main server
  url: https://api.conekta.io
security:
- bearerAuth: []
tags:
- name: Balances
paths:
  /balance:
    get:
      description: Get a company's balance
      operationId: getBalance
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/balance_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a company's balance
      tags:
      - Balances
components:
  schemas:
    balance_common_fiels_response:
      description: balance common fields model
      properties:
        amount:
          description: The balance's amount
          example: 100
          format: int64
          type: integer
        currency:
          description: The balance's currency
          example: MXN
          type: string
      title: balance_common_fiels_response
    details_error:
      properties:
        code:
          example: conekta.errors.authentication.missing_key
          type: string
        param:
          type: string
          nullable: true
        message:
          example: Acceso no autorizado.
          type: string
        debug_message:
          example: Please include your access key in your request.
          type: string
      title: details_error
    balance_response:
      description: balance model
      properties:
        available:
          description: The balance's available
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        cashout_retention_amount:
          description: The balance's cashout retention amount
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        conekta_retention:
          description: The balance's conekta retention
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        gateway:
          description: The balance's gateway
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        pending:
          description: The balance's pending
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        retained:
          description: The balance's retained
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        retention_amount:
          description: The balance's retention amount
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        target_collateral_amount:
          description: The balance's target collateral amount
          type: object
        target_retention_amount:
          description: The balance's target retention amount
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
        temporarily_retained:
          description: The balance's temporarily retained
          items:
            $ref: '#/components/schemas/balance_common_fiels_response'
          type: array
      title: balance_response
    error:
      allOf:
      - properties:
          details:
            items:
              $ref: '#/components/schemas/details_error'
            type: array
      - properties:
          log_id:
            description: log id
            example: 507f1f77bcf86cd799439011
            type: string
            nullable: true
          type:
            example: authentication_error
            type: string
          object:
            example: error
            type: string
      description: err model
      title: error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
