openapi: 3.1.0
info:
  contact:
    email: engineering@conekta.com
    name: Engineering Conekta
    url: https://github.com/conekta/openapi/issues
  description: Conekta sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Conekta Antifraud API
  version: 2.2.0
servers:
- description: Conekta main server
  url: https://api.conekta.io
security:
- bearerAuth: []
tags:
- name: Antifraud
paths:
  /antifraud/whitelists:
    get:
      description: Return all rules
      operationId: GetRuleWhitelist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
          description: All the rules
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '403':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Unauthorized access service, please contact support team
                  code: conekta.errors.forbidden.authentication.invalid_whitelist_access
                  debug_message: Unauthorized access to whitelists service, please contact support team
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: forbidden error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Get a list of whitelisted rules
      tags:
      - Antifraud
    post:
      operationId: CreateRuleWhitelist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleWhitelist_request'
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/whitelistlist_rule_response'
          description: successfully registered rule
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '403':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Unauthorized access service, please contact support team
                  code: conekta.errors.forbidden.authentication.invalid_whitelist_access
                  debug_message: Unauthorized access to whitelists service, please contact support team
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: forbidden error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Create whitelisted rule
      tags:
      - Antifraud
  /antifraud/whitelists/{id}:
    delete:
      operationId: DeleteRuleWhitelist
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/deleted_whitelist_rule_response'
          description: successfully deleted rule
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '403':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Unauthorized access service, please contact support team
                  code: conekta.errors.forbidden.authentication.invalid_whitelist_access
                  debug_message: Unauthorized access to whitelists service, please contact support team
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: forbidden error
        '404':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Delete whitelisted rule
      tags:
      - Antifraud
  /antifraud/blacklists:
    get:
      description: Return all rules
      operationId: GetRuleBlacklist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
          description: All the rules
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Get list of blacklisted rules
      tags:
      - Antifraud
    post:
      operationId: CreateRuleBlacklist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleWhitelist_request'
        description: requested field for blacklist rule
        required: true
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/blacklist_rule_response'
          description: successfully registered rule
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Create blacklisted rule
      tags:
      - Antifraud
  /antifraud/blacklists/{id}:
    delete:
      operationId: DeleteRuleBlacklist
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/deleted_blacklist_rule_response'
          description: successfully deleted rule
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '404':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Delete blacklisted rule
      tags:
      - Antifraud
components:
  schemas:
    details_error:
      properties:
        code:
          example: conekta.errors.authentication.missing_key
          type: string
        param:
          type: string
          nullable: true
        message:
          example: Acceso no autorizado.
          type: string
        debug_message:
          example: Please include your access key in your request.
          type: string
      title: details_error
    deleted_blacklist_rule_response:
      properties:
        id:
          description: Blacklist rule id
          example: 2fw8EWJusiRrxdPzT
          type: string
        field:
          description: field used for blacklists rule deleted
          example: email
          type: string
        value:
          description: value used for blacklists rule deleted
          example: email@example.com
          type: string
        description:
          description: use an description for blacklisted rule
          example: banned customer example@example.com
          type: string
      title: deleted_blacklist_rule_response
    deleted_whitelist_rule_response:
      properties:
        id:
          description: Whitelist rule id
          example: 2fw8EWJusiRrxdPzT
          type: string
        field:
          description: field used for whitelists rule deleted
          example: email
          type: string
        value:
          description: value used for whitelists rule deleted
          example: email@example.com
          type: string
        description:
          description: use an description for whitelisted rule
          example: secure customer example@example.com
          type: string
      title: deleted_whitelist_rule_response
    whitelistlist_rule_response:
      properties:
        id:
          description: Whitelist rule id
          example: 2fw8EWJusiRrxdPzT
          type: string
        field:
          description: field used for whitelists rule
          example: email
          type: string
        value:
          description: value used for whitelists rule
          example: email@example.com
          type: string
        description:
          description: use an description for whitelisted rule
          example: banned customer example@example.com
          type: string
      title: whitelistlist_rule_response
    CreateRuleWhitelist_request:
      properties:
        description:
          description: Description of the rule
          example: this client email was verified at 20/09/22 by internal process
          type: string
        field:
          description: Field to be used for the rule
          example: email | phone | card_token
          type: string
        value:
          description: Value to be used for the rule
          example: email@example.com | 818081808180 | src_2qUCNd5AyQqfPMBuV
          type: string
      required:
      - description
      - field
      - value
    risk_rules_data:
      properties:
        id:
          description: rule id
          example: 618c3f2fdb8b8da9be376af9
          type: string
        field:
          description: field to be used for the rule
          example: email
          type: string
        created_at:
          description: rule creation date
          example: 2021-11-10 21:52:47.339000+00:00
          type: string
        value:
          description: value to be used for the rule
          example: email@example.com
          type: string
        is_global:
          description: if the rule is global
          example: false
          type: boolean
        is_test:
          description: if the rule is test
          example: false
          type: boolean
        description:
          description: description of the rule
          example: secure customer example@example.com
          type: string
      title: risk_rules_data
    error:
      allOf:
      - properties:
          details:
            items:
              $ref: '#/components/schemas/details_error'
            type: array
      - properties:
          log_id:
            description: log id
            example: 507f1f77bcf86cd799439011
            type: string
            nullable: true
          type:
            example: authentication_error
            type: string
          object:
            example: error
            type: string
      description: err model
      title: error
    risk_rules_list:
      allOf:
      - description: pagination metadata
        properties:
          has_more:
            description: Indicates if there are more pages to be requested
            example: false
            type: boolean
          object:
            description: Object type, in this case is list
            example: list
            type: string
        required:
        - has_more
        - object
        title: pagination metadata
      - description: page metadata
        properties:
          next_page_url:
            description: URL of the next page.
            example: https://api.conekta.io/resources?limit=10&next=chrg_1
            type: string
            nullable: true
          previous_page_url:
            description: Url of the previous page.
            example: https://api.conekta.io/resources?limit=10&previous=chrg_1
            type: string
            nullable: true
        title: page metadata
      - properties:
          data:
            items:
              $ref: '#/components/schemas/risk_rules_data'
            type: array
      title: risk_rules_list
    blacklist_rule_response:
      properties:
        id:
          description: Blacklist rule id
          example: 2fw8EWJusiRrxdPzT
          type: string
        field:
          description: field used for blacklists rule
          example: email
          type: string
        value:
          description: value used for blacklists rule
          example: email@example.com
          type: string
        description:
          description: use an description for blacklisted rule
          example: secure customer example@example.com
          type: string
      title: blacklist_rule_response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
