openapi: 3.1.0
info:
  contact:
    email: engineering@conekta.com
    name: Engineering Conekta
    url: https://github.com/conekta/openapi/issues
  description: Conekta sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Conekta Antifraud Payment Link API
  version: 2.2.0
servers:
- description: Conekta main server
  url: https://api.conekta.io
security:
- bearerAuth: []
tags:
- name: Payment Link
paths:
  /checkouts:
    get:
      description: Returns a list of links generated by the merchant
      operationId: getCheckouts
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      - description: The numbers of items to return, the maximum value is 250
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: General order search, e.g. by mail, reference etc.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: next page
        explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      - description: previous page
        explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/checkouts_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '402':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        '422':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a list of payment links
      tags:
      - Payment Link
    post:
      operationId: createCheckout
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              create_checkout_with_plan_ids:
                summary: Create Checkout with Plan IDs
                value:
                  name: Payment Link con Plan
                  type: PaymentLink
                  recurrent: false
                  expires_at: 1745331574
                  allowed_payment_methods:
                  - card
                  needs_shipping_contact: false
                  plan_ids:
                  - plan_ejemplo_1
                  - plan_ejemplo_2
                  order_template:
                    line_items:
                    - name: Producto de Ejemplo
                      unit_price: 15000
                      quantity: 1
                    currency: MXN
                    customer_info:
                      name: Cliente Ejemplo
                      email: ejemplo@conekta.com
                      phone: '5555555555'
                    metadata:
                      reference: mi_referencia_123
                      more_info: datos_adicionales
            schema:
              $ref: '#/components/schemas/checkout'
        description: requested field for checkout
        required: true
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              description: The version of the API used to process the request and the format of the response body
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '402':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        '422':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create Unique Payment Link
      tags:
      - Payment Link
  /checkouts/{id}:
    get:
      operationId: getCheckout
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '402':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        '404':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        '422':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a payment link by ID
      tags:
      - Payment Link
  /checkouts/{id}/cancel:
    put:
      operationId: cancelCheckout
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '402':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        '404':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        '422':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Cancel Payment Link
      tags:
      - Payment Link
  /checkouts/{id}/email:
    post:
      operationId: emailCheckout
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailCheckout_request'
        description: requested field for sms checkout
        required: true
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '402':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        '404':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        '422':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Send an email
      tags:
      - Payment Link
  /checkouts/{id}/sms:
    post:
      operationId: smsCheckout
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smsCheckout_request'
        description: requested field for sms checkout
        required: true
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/checkout_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '402':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        '404':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        '422':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Send an sms
      tags:
      - Payment Link
components:
  schemas:
    details_error:
      properties:
        code:
          example: conekta.errors.authentication.missing_key
          type: string
        param:
          type: string
          nullable: true
        message:
          example: Acceso no autorizado.
          type: string
        debug_message:
          example: Please include your access key in your request.
          type: string
      title: details_error
    emailCheckout_request:
      properties:
        email:
          example: example@conekta.com
          format: email
          type: string
      required:
      - email
    checkout:
      description: It is a sub-resource of the Order model that can be stipulated in order to configure its corresponding checkout
      properties:
        allowed_payment_methods:
          description: Those are the payment methods that will be available for the link
          example:
          - cash
          - card
          - bank_transfer
          - bnpl
          - pay_by_bank
          items:
            type: string
          type: array
        exclude_card_networks:
          description: List of card networks to exclude from the checkout. This field is only applicable for card payments.
          example:
          - visa
          - amex
          items:
            enum:
            - visa
            - mastercard
            - amex
            type: string
          title: checkout_exclude_card_networks
          type: array
        expires_at:
          description: "It is the time when the link will expire. \nIt is expressed in seconds since the Unix epoch. The valid range is from 5 minutes to 365 days from the creation date.\n"
          example: 1680397724
          format: int64
          minimum: 1
          type: integer
        monthly_installments_enabled:
          description: This flag allows you to specify if months without interest will be active.
          example: true
          type: boolean
        monthly_installments_options:
          description: This field allows you to specify the number of months without interest.
          example:
          - 3
          - 6
          - 12
          items:
            format: int8
            type: integer
          type: array
        three_ds_mode:
          description: Indicates the 3DS2 mode for the order, either smart or strict. This property is only applicable when 3DS is enabled. When 3DS is disabled, this field should be null.
          type: string
          nullable: true
        name:
          description: Reason for charge
          example: Payment Link Name 1594138857
          type: string
        needs_shipping_contact:
          description: This flag allows you to fill in the shipping information at checkout.
          example: false
          type: boolean
        on_demand_enabled:
          description: This flag allows you to specify if the link will be on demand.
          example: true
          type: boolean
          nullable: true
        plan_ids:
          description: It is a list of plan IDs that will be associated with the order.
          example:
          - plan_123
          - plan_456
          items:
            type: string
          type: array
        order_template:
          $ref: '#/components/schemas/checkout_order_template'
        payments_limit_count:
          description: It is the number of payments that can be made through the link.
          example: 5
          format: int8
          minimum: 1
          type: integer
        success_url:
          description: The URL to redirect to after a successful payment.
          example: https://www.conekta.com/success
          type: string
        recurrent:
          description: 'false: single use. true: multiple payments'
          example: false
          type: boolean
        type:
          description: It is the type of link that will be created. It must be a valid type.
          example: PaymentLink
          type: string
      required:
      - allowed_payment_methods
      - expires_at
      - name
      - order_template
      - recurrent
      - type
      title: checkout
    checkout_response:
      description: checkout response
      properties:
        allowed_payment_methods:
          description: Are the payment methods available for this link
          example:
          - cash
          - card
          - bank_transfer
          - bnpl
          - pay_by_bank
          items:
            type: string
          type: array
        plan_ids:
          description: List of plan IDs that are available for subscription
          example:
          - plan_123
          - plan_456
          items:
            type: string
          type: array
        can_not_expire:
          example: false
          type: boolean
        emails_sent:
          example: 0
          type: integer
        exclude_card_networks:
          example:
          - visa
          - amex
          items:
            enum:
            - visa
            - mastercard
            - amex
            type: string
          title: checkout_response_exclude_card_networks
          type: array
        expires_at:
          example: 1680397724
          format: int64
          type: integer
        failure_url:
          example: https://pay.conekta.com/failure
          type: string
        force_3ds_flow:
          example: false
          type: boolean
        id:
          example: b0bf16c4-18b9-445e-ba24-01604f329dbf
          type: string
        livemode:
          example: true
          type: boolean
        metadata:
          additionalProperties: true
          example:
            key: value
          type: object
        monthly_installments_enabled:
          example: false
          type: boolean
        monthly_installments_options:
          example:
          - 3
          - 6
          - 12
          items:
            format: int8
            type: integer
          type: array
        name:
          description: Reason for charge
          example: Payment Link Name 1594138857
          type: string
        needs_shipping_contact:
          example: false
          type: boolean
        object:
          example: checkout
          type: string
        paid_payments_count:
          example: 0
          type: integer
        payments_limit_count:
          example: 5
          format: int8
          type: integer
          nullable: true
        recurrent:
          example: false
          type: boolean
        slug:
          example: b0bf16c418b9445eba2401604f329dbf
          type: string
        sms_sent:
          example: 0
          type: integer
        starts_at:
          example: 1677650400
          type: integer
        status:
          example: Issued
          type: string
        success_url:
          description: The URL to redirect to after a successful payment.
          example: https://pay.conekta.com/success
          type: string
        type:
          example: PaymentLink
          type: string
        url:
          example: https://pay.conekta.com/link/b0bf16c418b9445eba2401604f329dbf
          format: uri
          type: string
      required:
      - id
      - livemode
      - name
      - object
      title: checkout_response
    checkout_order_template:
      description: It maintains the attributes with which the order will be created when receiving a new payment.
      properties:
        currency:
          description: It is the currency in which the order will be created. It must be a valid ISO 4217 currency code.
          example: MXN
          maxLength: 3
          type: string
        customer_info:
          $ref: '#/components/schemas/checkout_order_template_customer_info'
        line_items:
          description: They are the products to buy. Each contains the "unit price" and "quantity" parameters that are used to calculate the total amount of the order.
          items:
            $ref: '#/components/schemas/product'
          type: array
        metadata:
          additionalProperties: true
          description: It is a set of key-value pairs that you can attach to the order. It can be used to store additional information about the order in a structured format.
          example:
            key: value
          maxProperties: 100
          type: object
        tax_lines:
          description: List of [taxes](https://developers.conekta.com/v2.2.0/reference/orderscreatetaxes) that are applied to the order.
          items:
            $ref: '#/components/schemas/order_tax_request'
          type: array
        discount_lines:
          description: List of [discounts](https://developers.conekta.com/v2.2.0/reference/orderscreatediscountline) that are applied to the order.
          items:
            $ref: '#/components/schemas/order_discount_lines_request'
          type: array
      required:
      - currency
      - line_items
    order_tax_request:
      description: create new taxes for an existing order
      properties:
        amount:
          description: The amount to be collected for tax in cents
          example: 100
          format: int64
          minimum: 0
          type: integer
        description:
          description: description or tax's name
          example: testing
          minLength: 2
          type: string
        metadata:
          additionalProperties: true
          example:
            key: value
          maxProperties: 100
          type: object
      required:
      - amount
      - description
      title: order_tax_request
    checkouts_response:
      allOf:
      - description: pagination metadata
        properties:
          has_more:
            description: Indicates if there are more pages to be requested
            example: false
            type: boolean
          object:
            description: Object type, in this case is list
            example: list
            type: string
        required:
        - has_more
        - object
        title: pagination metadata
      - description: page metadata
        properties:
          next_page_url:
            description: URL of the next page.
            example: https://api.conekta.io/resources?limit=10&next=chrg_1
            type: string
            nullable: true
          previous_page_url:
            description: Url of the previous page.
            example: https://api.conekta.io/resources?limit=10&previous=chrg_1
            type: string
            nullable: true
        title: page metadata
      - properties:
          data:
            items:
              $ref: '#/components/schemas/checkout_response'
            type: array
      title: checkouts_response
    checkout_order_template_customer_info:
      description: It is the information of the customer who will be created when receiving a new payment.
      oneOf:
      - $ref: '#/components/schemas/customer_info'
      - $ref: '#/components/schemas/customer_info_customer_id'
    customer_info_customer_id:
      properties:
        customer_id:
          example: cus_23874283647
          type: string
      required:
      - customer_id
      title: customer_info_customer_id
    product:
      properties:
        antifraud_info:
          additionalProperties: true
          example:
            key: value
          type: object
        brand:
          description: The brand of the item.
          example: Cohiba
          type: string
        description:
          description: Short description of the item
          example: Imported From Mex.
          maxLength: 250
          type: string
        metadata:
          additionalProperties: true
          default: {}
          description: It is a key/value hash that can hold custom fields. Maximum 100 elements and allows special characters.
          example:
            key: value
          maxProperties: 100
          type: object
        name:
          description: The name of the item. It will be displayed in the order.
          example: Box of Cohiba S1s
          type: string
        quantity:
          description: The quantity of the item in the order.
          example: 1
          format: int32
          minimum: 1
          type: integer
        sku:
          description: The stock keeping unit for the item. It is used to identify the item in the order.
          example: XYZ12345
          type: string
        tags:
          description: List of tags for the item. It is used to identify the item in the order.
          example:
          - food
          - mexican food
          items:
            type: string
          type: array
        unit_price:
          description: The price of the item in cents.
          example: 20000
          format: int32
          minimum: 0
          type: integer
      required:
      - name
      - quantity
      - unit_price
      title: product
    order_discount_lines_request:
      description: List of discounts that apply to the order.
      properties:
        amount:
          description: The amount to be deducted from the total sum of all payments, in cents.
          example: 500
          format: int64
          minimum: 0
          type: integer
        code:
          description: Discount code.
          example: '123'
          type: string
        type:
          description: It can be 'loyalty', 'campaign', 'coupon' o 'sign'
          example: loyalty
          type: string
      required:
      - amount
      - code
      - type
      title: order_discount_lines_request
      name: order_discount_lines_request
    customer_info:
      properties:
        name:
          example: DevTest
          type: string
        email:
          example: test@conekta.com
          format: email
          type: string
        phone:
          example: '5522997233'
          type: string
        corporate:
          type: boolean
        object:
          example: customer_info
          type: string
      required:
      - email
      - name
      - phone
      title: customer_info
    error:
      allOf:
      - properties:
          details:
            items:
              $ref: '#/components/schemas/details_error'
            type: array
      - properties:
          log_id:
            description: log id
            example: 507f1f77bcf86cd799439011
            type: string
            nullable: true
          type:
            example: authentication_error
            type: string
          object:
            example: error
            type: string
      description: err model
      title: error
    smsCheckout_request:
      properties:
        phonenumber:
          example: '5566982090'
          type: string
      required:
      - phonenumber
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
