openapi: 3.1.0
info:
  contact:
    email: engineering@conekta.com
    name: Engineering Conekta
    url: https://github.com/conekta/openapi/issues
  description: Conekta sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Conekta Antifraud Transfers API
  version: 2.2.0
servers:
- description: Conekta main server
  url: https://api.conekta.io
security:
- bearerAuth: []
tags:
- name: Transfers
paths:
  /transfers:
    get:
      description: Get transfers details in the form of a list
      operationId: getTransfers
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      - description: The numbers of items to return, the maximum value is 250
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: General order search, e.g. by mail, reference etc.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: next page
        explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      - description: previous page
        explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/get_transfers_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a list of transfers
      tags:
      - Transfers
  /transfers/{id}:
    get:
      description: Get the details of a Transfer
      operationId: getTransfer
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
        style: simple
      - description: In the case of a holding company, the company id of the child company to which will process the request.
        example: 6441b6376b60c3a638da80af
        explode: false
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/vnd.conekta-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/transfer_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              explode: false
              schema:
                example: Fri, 03 Feb 2023 16:57:48 GMT
                type: string
              style: simple
            Content-Type:
              description: The format of the response body
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              description: The length of the response body in bytes
              explode: false
              schema:
                example: '2737'
                type: string
              style: simple
            Connection:
              description: The type of connection used to transfer the response
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Conekta-Media-Type:
              explode: false
              schema:
                example: conekta-v2.2.0; format=application/json
                type: string
              style: simple
        '401':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '404':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        '500':
          content:
            application/vnd.conekta-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have been notified.
                  message: There was a runtime error and Conekta engineers have been notified.
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Transfer
      tags:
      - Transfers
components:
  schemas:
    transfers_response:
      description: A transfer represents the action of sending an amount to a business bank account including the status, amount and method used to make the transfer.
      properties:
        amount:
          description: Amount in cents of the transfer.
          example: 10000
          format: int64
          type: integer
        created_at:
          description: Date and time of creation of the transfer.
          example: 1553273553
          format: int64
          type: integer
        currency:
          description: The currency of the transfer. It uses the 3-letter code of the [International Standard ISO 4217.](https://es.wikipedia.org/wiki/ISO_4217)
          example: MXN
          maxLength: 3
          type: string
        id:
          description: Unique identifier of the transfer.
          example: 5b0337d4dD344ef954fe1X4b6
          type: string
        livemode:
          description: Indicates whether the transfer was created in live mode or test mode.
          example: true
          type: boolean
        method:
          $ref: '#/components/schemas/transfer_method_response'
        object:
          description: Object name, which is transfer.
          example: transfer
          type: string
        statement_description:
          description: Description of the transfer.
          example: Conekta 4401234
          type: string
        statement_reference:
          description: Reference number of the transfer.
          example: '4401234'
          type: string
        status:
          description: Code indicating transfer status.
          example: pending
          type: string
      title: transfers_response
    details_error:
      properties:
        code:
          example: conekta.errors.authentication.missing_key
          type: string
        param:
          type: string
          nullable: true
        message:
          example: Acceso no autorizado.
          type: string
        debug_message:
          example: Please include your access key in your request.
          type: string
      title: details_error
    transfer_method_response:
      description: Method used to make the transfer.
      properties:
        account_holder:
          description: Name of the account holder.
          example: John Doe
          type: string
        account_number:
          description: Account number of the bank account.
          example: 012180023547896764
          type: string
        bank:
          description: Name of the bank.
          example: BBVA Bancomer
          type: string
        created_at:
          description: Date and time of creation of the transfer.
          example: 1553273553
          format: int64
          type: integer
        id:
          description: Unique identifier of the transfer.
          example: pytmtd_2ide3qwTdDvNBosEC
          type: string
        object:
          description: Object name, which is bank_transfer_payout_method.
          example: bank_transfer_payout_method
          type: string
        payee_id:
          description: Unique identifier of the payee.
          example: payee_2icdDewRxDENBos85
          type: string
        type:
          description: Type of the payee.
          example: BankTransferPayoutMethod
          type: string
      title: transfer_method_response
    error:
      allOf:
      - properties:
          details:
            items:
              $ref: '#/components/schemas/details_error'
            type: array
      - properties:
          log_id:
            description: log id
            example: 507f1f77bcf86cd799439011
            type: string
            nullable: true
          type:
            example: authentication_error
            type: string
          object:
            example: error
            type: string
      description: err model
      title: error
    transfer_destination_response:
      description: Method used to make the transfer.
      properties:
        account_holder:
          description: Name of the account holder.
          example: John Doe
          type: string
        account_number:
          description: Account number of the bank account.
          example: 012180023547896764
          type: string
        bank:
          description: Name of the bank.
          example: BBVA Bancomer
          type: string
        created_at:
          description: Date and time of creation of the transfer.
          example: 1553273553
          format: int64
          type: integer
        id:
          description: Unique identifier of the transfer.
          example: pytmtd_2ide3qwTdDvNBosEC
          type: string
        object:
          description: Object name, which is bank_transfer_payout_method.
          example: bank_transfer_payout_method
          type: string
        payee_id:
          description: Unique identifier of the payee.
          example: payee_2icdDewRxDENBos85
          type: string
        type:
          description: Type of the payee.
          example: BankTransferPayoutMethod
          type: string
      title: transfer_destination_response
    get_transfers_response:
      allOf:
      - description: pagination metadata
        properties:
          has_more:
            description: Indicates if there are more pages to be requested
            example: false
            type: boolean
          object:
            description: Object type, in this case is list
            example: list
            type: string
        required:
        - has_more
        - object
        title: pagination metadata
      - description: page metadata
        properties:
          next_page_url:
            description: URL of the next page.
            example: https://api.conekta.io/resources?limit=10&next=chrg_1
            type: string
            nullable: true
          previous_page_url:
            description: Url of the previous page.
            example: https://api.conekta.io/resources?limit=10&previous=chrg_1
            type: string
            nullable: true
        title: page metadata
      - properties:
          data:
            description: Transfers
            items:
              $ref: '#/components/schemas/transfers_response'
            type: array
      title: get_transfers_response
    transfer_response:
      description: A transfer represents the action of sending an amount to a business bank account including the status, amount and method used to make the transfer.
      properties:
        amount:
          description: Amount in cents of the transfer.
          example: 10000
          format: int64
          type: integer
        created_at:
          description: Date and time of creation of the transfer in Unix format.
          example: 1553273553
          format: int64
          type: integer
        currency:
          description: The currency of the transfer. It uses the 3-letter code of the [International Standard ISO 4217.](https://es.wikipedia.org/wiki/ISO_4217)
          example: MXN
          maxLength: 3
          type: string
        id:
          description: Unique identifier of the transfer.
          example: 5b0337d4dD344ef954fe1X4b6
          type: string
        livemode:
          description: Indicates whether the transfer was created in live mode or test mode.
          example: true
          type: boolean
        destination:
          $ref: '#/components/schemas/transfer_destination_response'
        object:
          description: Object name, which is transfer.
          example: transfer
          type: string
        statement_description:
          description: Description of the transfer.
          example: Conekta 4401234
          type: string
        statement_reference:
          description: Reference number of the transfer.
          example: '4401234'
          type: string
        status:
          description: Code indicating transfer status.
          example: pending
          type: string
      title: transfer_response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
